body {
  margin: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    gap:30px;
    padding: 30px;
    color: whitesmoke;
    background-color: rgb(132, 0, 255);
    
}

.nav-links{
    display: flex;
    justify-content: center;
    gap:30px;
    list-style: none;

}

.nav-links a{
     text-decoration: none;
     color: whitesmoke;
     
}

.nav-links a:hover{
    color: green;
}